.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav a {
    padding: 8px 8px 8px 32px; /* Place text to the right */
    text-decoration: none; /* Remove underline */
    font-size: 25px; /* Set font size to 25px */
    color: #818181; /* Grey */
    display: block; /* Make links appear below each other */
    transition: 0.3s; /* Transition effect on hover */
}
.sidenav a:hover {
    color: #000000; /* On hover, the links will change color */
}
.navopener {
    font-size: 20px; /* Set a font size for the menu icon */
    cursor: pointer; /* Change cursor on hover */
    color: #818181; /* Grey */
    display: block; /* Make links appear below each other */
    transition: 0.3s; /* Transition effect on hover */
}